/*Seccion inicio*/

#portada {
    height: 100vh;
    background-image: url(./portada1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 78px;
}


#registro h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 0px;
}

.botones {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.btn1,
.btn2 {
    margin: auto;
    width: 90%;
    color: white;
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid white;
}

.btn2:hover {
    border: 3px solid gray;
    color: gray;
}



.atras {
    padding-top: 1.6em;
    font-size: 20px;
    padding-left: 0;
}

a {
    text-decoration: none;
}

#registro a {
    display: block;
}

#registro {
    font-size: 36px;
    text-align: center;
    padding-top: 5px;
}

#registro a:hver {
    background: #E54E79;
    color: white;
    text-decoration: none;
}

.siguiente:hover {
    color: #e1dada;
}

.check {
    display: flex;
    justify-content: center;
}

.phone-number{
    font-size: 18px;
}

.nput-group .form-control, .iput-group-addon, .inut-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

* {
    margin: 0;
    padding: 0;
}
