/*Seccion inicio*/

#cover-page {
    height: 100vh;
    background-image: url(./portada1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media  (max-width:1024px){
    #cover-page{
        background-image: url(./fondo2.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}
@media (min-width:511px) and (max-width: 844px){

    #cover-page{
        background-image: url(./fondo3.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        position: relative;
    }
  
}
@media (min-width:300px) and (max-width: 510px){

    #cover-page{
        background-image: url(./fondo1.png);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        position: relative;
    }
  
}

h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 78px;
}

.button-initial {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

/*Seccion Login*/

#registro h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
}

.behind {
    padding-top: 1.6em;
    font-size: 20px;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.Login-phone{
    margin-bottom: 50px;
  }

* {
    margin: 0;
    padding: 0;
}

.dropdown{
    text-align: center;
}