.flag-img{
  width: 69px;
}

.input-code{
  width: 30px;
}

.signUp-phone{
  margin-bottom: 50px;
}

.head  h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 10px;
}

a{
  width: 50px;
}

.code-phone{
  background-color: rgba(245, 229, 87, 0.74);
  padding: 10px;
  border-radius: 15px;
  width: 70%;
  margin: 1em auto 3em;
}

.input-code{
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 20%;
  text-align: center;
}

.code{
  font-size: 180%;
  
}

.img-principal{
  width: 30px;
}

.menu-flags{
  width: 60px;
}

.img-flg{
  width: 20px !important;
}

.dropdown{
  padding: 0;
}

.dropdown-menu {
  min-width: 150px;
}

#dropdown-custom-1{
  margin: 0;
}

.dropdown-menu>li>a {
  width: 100px;
}